<h1>Nowe zadanie</h1>

<form method="POST">
    <div class="mb-3">
        <label for="tasl" class="form-label">Nazwa zadania</label>
        <input type="text" id="task" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Opis zadania</label>
        <textarea name="description" id="desc" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Dodaj</button>
</form>